body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 }
html {
  scroll-behavior: smooth;
}
body, html {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  
.navy{
   top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    /* position: fixed; */
    background-color: #284053;
    padding-left: 25px;
    padding-right: 25px;
      padding-left:15px
   
 
 }
 .nav-text{
    
   color:white;
   font-size:20px;
   /* font-family:'times new roman',times,serif */
 }
 
 .bio-section{
   text-align: left;
 }
 .scroll{
   scroll-behavior: auto;
 }
 .nav-text:hover{
   color:#007bff
 }
 
 .name-nav:hover{
  color:#007bff
}
 .name-nav{
   color:white;
   
   /* font-size: 20px; */

 }
  
.lleft-menu-i{
  color:orange
}
 

.rem{
  padding-top:5rem;
  padding-bottom:5rem
}
.starting-out{
  padding-top:225px;
  text-align:left;
  min-height: 700px;
  background-image: url('./component/Images/pic3.jpg');
  background-size:cover;
  }
.id{
  background-image: url('./component/Images/k.png');
  background-size:cover;


}

.bioo{
  background-image: url('./component/Images/blue_shape_pattern.png');
  background-size:cover;



}
.css{
  background-image: url('./component/Images/office-building-exterior.jpg');
  height:100%;
  background-size:cover;


}
/* .name{
  font-family: 'Brawler', serif;

} */
.background{
  /* background-color:#1b1c1d; */
    background-image:url('./component/Images/55.png');
   height:100vh;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   
  /* background-position: center; */ 


   


 }
  
.check-resume{
  padding:100px
}
 
 

.info{
  padding-top:75px;
  
}
.dcs{
  padding-bottom:6em
}
.tech{
   background-image:url('./component/Images/city.png');
  height:90vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;


   /* height:100vh; */

  /* background-attachment: fixed; */
    /* background-repeat: no-repeat;
   background-attachment: fixed;
  background-position: center; */

 

}

 .image-container{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
 }
 
 .pic{
  position:relative;
  width:400px;
  height:380px;
  margin:0 20px 40px 20px;
  border:1px solid rgba(0,0,0,.125);
  border-radius:8px
  }
 .top-seg{
   padding-bottom:6em
 }
 
.name{
  /* color:#1b1c1d; */
  /* font:italic normal normal 45px/1.4em 'times new roman',times,serif; */
  color:white;
  text-align: left;
  font-family: 'Montserrat', sans-serif;  

     /* font-family: "Times New Roman", Times, serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-weight: normal; */
  /* font-family: 'Lato', sans-serif;     */
  /* font-family: 'Open Sans', sans-serif; */
}
.txt{
  font-family: 'Montserrat', sans-serif;  
  font-size: 30px;
  color:#284053

}
.pname{
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Aleo', serif; */
  font-family: 'Roboto', sans-serif;

  text-align: left;
  font-size: 27px;
  font-weight: normal;
  margin:0 300px 0 10px
  }
  
  .txt-2{
    font-family: 'Roboto', sans-serif;
    color:#646464

  }
  .descrip{
    font-family: 'Roboto', sans-serif;
  }

 
 

 .card{
   margin:15px
 }

 .para{
   font-size:1.3em
 }
 .spann{
   margin-left:25px;
 }
 .git-icon{
   margin-right:25px
 }
 .linkedin-icon{
   margin-right:25px
 }
 .just{
    display:flex;
   justify-content:center
 }

 

 .image__img{
   display:block;
   width:100%;
   height:100%;
   border-radius:8px;
  }
 .cs{
   background-color:green
 }
 .image__overlay{
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background:rgba(0,0,0,.5);
   color:white;
   display:flex;
   font-family:'Quicksand', sans-serif;
   flex-direction:column;
    align-items:center; 
    justify-content:center; 
   opacity:0;
   transition: opacity 0.25s;
   border-radius: 8px;
 }
 .image__overlay > * {
   transform:translateY(20px);
   transition:transform .25s
 }
 .image__overlay:hover{
  opacity:1
 }
 .image__overlay:hover >*{
  transform:translateY(0);

 }
 .image__overlay--blur{
   backdrop-filter: blur(5px);
 }

.github{
  font-size:2rem;
  margin:8px
}

.link{
  font-size:2rem;
  margin:8px
}

 

 
 
 